<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82670061131-1vqgmgl443443ldvccol6cgmugek2g3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82670061131-1vqgmgl443443ldvccol6cgmugek2g3o</string>
	<key>API_KEY</key>
	<string>AIzaSyATQ60ODtyWk6qf5cKszm5b6chC-IbUFfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>82670061131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.coderschool.CICRun</string>
	<key>PROJECT_ID</key>
	<string>cicrun-ac843</string>
	<key>STORAGE_BUCKET</key>
	<string>cicrun-ac843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:82670061131:ios:23c26f3eab392313</string>
	<key>DATABASE_URL</key>
	<string>https://cicrun-ac843.firebaseio.com</string>
</dict>
</plist>
